body {
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
}

.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  font-size: 1.5em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #333;
}

#image-container {
  height: 500px;
}

#image {
  max-width: 100%;
  max-height: 100%;
}

#download-link {
  margin-left: 10px;
}

footer {
  color: #666;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #999;
}
